* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4C4C6D;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
}

.title {
  color: #E8F6EF;
  font-size: 3rem; 
  letter-spacing: 2px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  text-shadow: 0px 5px 10px #000;
  text-transform:uppercase;
  white-space: nowrap;
}

.title::after {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: 0em;
  background-repeat: round;
  background-size: auto 100%;
  bottom: calc(0.3125em * -0.625);
  content: "";
  height: 0.3125em;
  left: 0;
  position: absolute;
  right: 0;
}

.input-container {
  max-width: 400px;
  position: relative;
  width: 100%;
}

input {
  background-color: #E8F6EF;
  border-radius: 4px;
  border: 1px solid #1B9C85;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  font-size: 1rem;
  height: 48px;
  padding: 16px;
  width: 100%;
}

.icon-container {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}

.loader {
  animation: around 5.4s infinite;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 20px;
}

.loader::after, .loader::before {
  animation: around 0.7s ease-in-out infinite;
  background: transparent;
  border-color: #1B9C85 #1B9C85 transparent transparent;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}

.options-list {
  background-color: #E8F6EF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.7);
  list-style-type: none;
  max-height: 250px;
  overflow: auto;
  position: absolute;
  width: 100%;
}

.option-item {
  border-bottom: 1px solid #1B9C85;
  font-size: 1rem;
  height: 50px;
  padding: 1rem;
}

.drink-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-width: 400px;
  text-align: center;
  width: 100%;
}

.drink-img {
  border-radius: 50%;
  border: 5px solid #1B9C85;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  width: 250px;
}

.drink-title {
  color: #1B9C85;
  font-size: 2.5rem;
  margin-top: 20px;
  text-shadow: 0px 4px 8px #000;
  width: 100%;
}

.drink-recipe {
  color: #E8F6EF;
  list-style: none;
  margin-top: 10px;
  text-shadow: 0px 2px 4px #000;
  width: 100%;
}

.drink-recipe > p {
  font-size: 1.2rem;
  margin-top: 5px;
  padding: 2px;
  width: 100%;
}

.drink-instructions {
  color: #1B9C85;
  font-size: 1.2rem;
  margin-top: 20px;
  text-shadow: 0px 2px 4px #000;
  width: 100%;
}

.selected {
  background-color: #1B9C85;
}

.highlight {
  font-weight: bold;
}

.no-options-label {
  color: #757575;
}

@keyframes around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
